.container-login {
    display: flex;
    justify-content: center;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5rem 0 0 0;
    border-radius: 40px 7px 40px 7px;
    color: #fff;
    padding: 4rem;
    background-color: #111111;
    box-shadow: -1px 1px 20px 0px #3c1a1a;
}

/* Caixa de titulo */

.conteudo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.3rem 0 0 0;
}

.login-icon {
    width: 7.6vh;
}

/* Formulário de Login */

.error-login {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #FFD55D;
}

.error-img {
    width: 6vh;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0 0 0;
}

.input-email,
.input-senha {
    background: none;
    color: #fff;
    border: none;
    border-bottom: solid 2px #dd1515;
    padding: 0.5rem;
    width: 91%;
    transition: all 600ms ease;
}

.input-email:focus,
.input-senha:focus {
    padding: 0.6rem;
    width: 89%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 8px #dd1515;
    transition: all 600ms ease;
}

.container-btn-login {
    display: flex;
    flex-direction: column;
}

.btn-login-formulario {
    background-color: #dd1515;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    margin: 0 0 1rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.btn-login-formulario:hover {
    background-color: #080;
    transition: all 450ms ease-in-out;
}

.link-cadastro {
    text-decoration: none;
    color: #dd1515;
    cursor: pointer;
}

.link-cadastro:hover {
    color: #dc5a5a;
    transition: all 450ms ease-in-out;
}