<footer class="footer">
    <div class="primeira-section">
      <div class="primeira-header">
        <h4>Links</h4>
      </div>
      <div>
        <ul class="links-footer">
          <li class="link" routerLink="/">Home</li>
          <li class="link" routerLink="/">About US</li>
          <li class="link" routerLink="/">Services</li>
          <li class="link" routerLink="/">Privacy Policy</li>
        </ul>
      </div>
      <div></div>
    </div>
  
    <div class="segunda-section">
      <div class="segunda-header">
        <h4>Outros Serviços</h4>
      </div>
      <ul class="links-footer">
        <li class="link" routerLink="/">Web Design</li>
        <li class="link" routerLink="/">Web Development</li>
        <li class="link" routerLink="/">Product Manager</li>
        <li class="link" routerLink="/">Marketing</li>
        <li class="link" routerLink="/">Graphic Design</li>
      </ul>
    </div>
  
    <div class="terceira-section">
      <div class="terceira-header">
        <h4>Importantes</h4>
      </div>
      <ul class="links-footer">
        <li class="link" routerLink="/">Warnings</li>
        <li class="link" routerLink="/">Count</li>
        <li class="link" routerLink="/">Services</li>
        <li class="link" routerLink="/">Estudos técnicos</li>
      </ul>
    </div>
  
    <div class="quarta-section">
      <div class="quarta-header">
        <h4>Redes Sociais</h4>
      </div>
      <ul class="links-icons">
        <li><a href="https://github.com/olirrvt?tab=repositories"><i class="fa-brands fa-github icons" style="color: #ffffff;"></i></a></li>
        <li><a href="https://www.instagram.com/olirrvt/"><i class="fa-brands fa-instagram icons" style="color: #f3eded;"></i></a></li>
        <li><a href="https://outlook.live.com/mail/0/"><i class="fa-solid fa-envelope icons" style="color: #f1f0f0;"></i></a></li>
        <li><a><i class="fa-brands fa-twitter icons" style="color: #fff8f8;"></i></a></li>
      </ul>
    </div>
  </footer>