.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40em;
    padding: 1.5em 0em 1.5em 0;
    background-color: #ffffff;
    color: #0a0a0a;
}

a {
  text-decoration: none;
}

.primeira-section,
.segunda-section,
.terceira-section,
.quarta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quarta-section {
  gap:0.4em;
}

.primeira-header,
.segunda-header,
.terceira-header,
.quarta-header {
  margin-bottom: 0.2em;
}

.primeira-header h4,
.segunda-header h4,
.terceira-header h4,
.quarta-header h4 {
  padding: 0.4em;
  border-bottom: 3px #F80132 solid;
  border-radius: 3px;
}

.links-footer,
.links-icons {
  list-style: none;
}

.link:hover {
  cursor: pointer;
  color: #F80132;
  transition: all 450ms ease-in-out;
}

.links-footer {
  display: flex;
  flex-direction: column;
}

.links-icons {
  display: flex;
  margin: 0 2em 0 0em;
  gap: 0.5em;
} 

.icons {
  background-color: #F80132;
  border-radius: 100%;
  padding: 0.5em;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.icons:hover {
  background-color: #e42148;
  transition: all 450ms ease-in-out;
}