.container-usuario h1 {
    color: #000;
}

.container-perfil {
    display: flex;
    justify-content: center;
    margin: 9rem 0 0 0;
}

.caixa-usuario {
    display: flex;
    flex-direction: row;
    width: 50%;
}

/* PERFIL */

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 4rem;
    height: 22rem;
    border-right: 1px solid #D1D7DC;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.menu-usuario span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.item-menu, 
.delete {
    color: #000;
}

.item-menu:hover, 
.delete:hover {
    color: #525151;
}

 .logout {
    color: #f32d0a;
}

.area-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin: 0 0 0.8rem 0;
}

.area-user span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 12pt;
    color: #000;
}

.user-logado {
    width: 7vh;
    background-color: #C9BEBE;
    padding: 1rem;
    border-radius: 100%;
}

.menu-usuario {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
}

/* Editar dados */

.editar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    gap: 1rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.titulo-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #D1D7DC;
}

.titulo-perfil span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-weight: 600;
    margin: -1rem 0 0 0;
}

/* Editar dados Input*/

.container-dados {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 1rem 0 0;
}

.editar-dados {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}  

.input-editar {
    width: 100%;
    padding: 0.6rem;
    border-radius: 2px;
    transition: all 450ms ease;
    background-color: #ebeaea;
    border: none;
}

.input-editar:focus {
    border: 2px solid #dd1515;
    padding: 0.6rem;
    transition: all 250ms ease;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #dd1515;
}

.btn-alterar {
    border: none;
    padding: 0.5rem;
    background-color: #f32d0a;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    width: 50%;
    transition: all 450ms ease-in-out;
}

.btn-alterar:hover {
    background-color: #080;
    transition: all 450ms ease-in-out;
}
