
/* Card Home */

.container-card-home {
    display: flex;
    justify-content: center;
    margin: 0 2rem 0 2rem;
}

.card-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0a0a0a;
    color: #D2D2D2;
    border-radius: 7px;
    width: 70%;
    height: 21rem;
    margin: 4rem;
    padding: 1rem;
}

/* Header Card */

.card-home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-home-header div {
    width: 50%;
}

.promocao-escrito {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-left: solid 2px #f3f3f33a;
    border-bottom: solid 2px #f3f3f33a;
    color: #FF0000;
}

.anuncio-escrito {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: solid 2px #f3f3f33a;
    color: #080;
}

/* Body Card */

.card-home-body {
    display: flex;
    justify-content: center;
}

/* Footer Card */

.card-home-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem 0 0.8rem 0.5rem;
    border-top: solid 2px #f3f3f33a;
}
.valor-prod {
    color: #080;
    font-weight: 800;
    font-size: 15pt;
}