/* Pesquisar */

.container-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 5rem 0;
}

.input-pesquisar-header {
    width: 25rem;
    height: 1.8rem;
    border: solid 2px #e0321373;
    border-radius: 7px;
    padding: 0.3rem;
    background: none;
    transition: all 450ms ease;
}

.input-pesquisar-header::placeholder {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 9pt;
}

.input-pesquisar-header:focus {
    border: solid 2px #e03213;
    color: #fff;
    border-radius: 8px;
    padding: 0.2rem;
    box-shadow: 0px 0px 20px 8px #dd1515;
    transition: all 450ms ease;
}

/* Card */

.container-card-principal {
    display: flex;
    flex-direction: row;
}

.card {
    background: #0a0a0a;
    padding: 2rem;
    margin: 3rem;
    width: 14rem;
    border-radius: 7px;
}

/* Card Header */

.card-header {
    border-bottom: solid 2px #f3f3f33a;
    margin-bottom: 1rem;
}

/* Card Body */

.card-body {
    border-bottom: solid 2px #f3f3f33a;
    padding-bottom: 1rem;
}

.titulo-produto,
.descricao-produto {
    color: #fff;
    font-weight: 700;
    font-family: 'Segoe UI', 
    Tahoma, Geneva, Verdana, sans-serif;
}

.valor-produto {
    display: flex;
    flex-direction: column;
    color: #080;
    font-weight: 800;
    font-size: 15pt;
    margin: 1rem 0 0 0;
}

.valor-produto span {
    color: #080;
    font-size: 12pt;
}

/* Card Footer */

.card-footer {
    margin: 1.3rem 0 0 0;
}

.cartao-produto {
    color: #e03213;
}
