.section-carrinho {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-itens {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.info-produtos {
    display: flex;
    gap: 30em;
    border: none;
    border-bottom: 2px solid #EBEBEB;
    padding: 20px;
}

.container-especificacao {
    display: flex;
    gap: 6em;
}

/* Estilos para o Card de Produtos */

.container-card-produto {
    display: flex;
    align-items: center;
    gap: 1em;
    border: 2px solid #EBEBEB;
    padding: 20px;
    border-radius: 8px;
}

.container-preco,
.container-quantidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #6d6868;
}

.container-quantidade {
    margin-top: 0.5em;
}

.container-interacao {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.quantidade-input {
    width: 60px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.quantidade-input:focus {
    border-color: #007bff;
}

.btn-editar,
.btn-remover {
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-editar {
    background-color: #0c7fcc;
    color: #fff;
}

.btn-remover {
    background-color: #e72626;
    color: #fff;
}

/* Estilos para o resumo do pedido */

.container-resumo-pedido {
    background-color: #F8F8F8;
    margin-left: 70px;
    padding: 40px;
    border-radius: 6px;
}

.especificacao-resumo {
    display: flex;
    gap: 2em;
    border: none;
    margin-bottom: 20px;
}

.container-total {
    display: flex;
    gap: 6em;
    border-bottom: 2px solid #EBEBEB;
    border-top: 2px solid #EBEBEB;
    padding: 20px 0 20px 0;
    margin-bottom: 2px;
}

.container-comprar {
    margin-top: 20px;
}

.btn-comprar {
    background-color: #00FF00;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: all 450ms ease-in;
}

.btn-comprar:hover {
    background-color: #22a822;
    transition: all 450ms ease-in;
}