.secao-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px auto;
    width: 45%;
    padding: 20px 20px 60px 20px;
    border-radius: 6px;
    background-color: #fff;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-span {
    text-align: center;
}

/* Estilos para formulario */

.container-formulario {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    padding: 38px;
}

.obrigatorio {
    color: #d30a0a;
}

.input-login {
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    border: 1px solid #000;
}

#input-email {
    margin-bottom: 20px;
}

#input-senha {
    margin-bottom: 25px;
}

.btn-login {
    padding: 6px;
    border: 2px solid #EB3343;
    background-color: #EB3343;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    width: 110%;
    cursor: pointer;
    transition: all 450ms ease-in;
}

.btn-login:hover {
    background-color: #d30a0a;
    transition: all 450ms ease-in;
}