<section class="secao-login">
    <div class="containter-info">
        <div class="container-texto">
            <i class="fa-regular fa-user fa-xl" style="color: #111318;"></i>
            <h2>Login do Cliente</h2>
        </div>
        <div class="container-span">
            <span>Veja seus pedidos de forma fácil, compre mais rápido <br>
             e tenha uma experiência personalizada</span>
        </div>
    </div>
    <div class="container-formulario">
        <form class="formulario-login" [formGroup]="formLogin" (ngSubmit)="efetuarLogin()">
            <label><span class="obrigatorio">*</span>E-mail</label>
            <input class="input-login" id="input-email" type="text" formControlName="email">

            <label><span class="obrigatorio">*</span>Senha</label>
            <input class="input-login" id="input-senha" type="password" formControlName="senha">

            <button class="btn-login" type="submit">Continuar</button>
        </form>
    </div>

</section>
