<section class="secao-cadastro">
    <div class="container-info">
        <div class="container-texto">
            <h2>Criar seu cadastro</h2>
        </div>
        <div class="container-span">
            <span>Veja seus pedidos de forma fácil, compre mais rápido <br>
             e tenha uma experiência personalizada</span>
        </div>
    </div>
    <div class="container-formulario">
        <form class="formulario-cadastro centralizado" [formGroup]="formCadastrar" (ngSubmit)="cadastrarUsuario()">
            <label for="input-nome"><span class="obrigatorio">*</span>Nome Completo</label>
            <input class="input-cadastro" id="input-nome" type="text" formControlName="nome" required>
    
            <label for="input-idade"><span class="obrigatorio">*</span>Idade</label>
            <input class="input-cadastro" id="input-idade" type="number" formControlName="idade" required>
    
            <label for="input-cpf"><span class="obrigatorio">*</span>CPF</label>
            <input class="input-cadastro" id="input-cpf" type="text" formControlName="cpf" required>
    
            <label for="input-cep"><span class="obrigatorio">*</span>CEP</label>
            <input class="input-cadastro" id="input-cep" type="text" formControlName="cep" required>
    
            <label for="input-email"><span class="obrigatorio">*</span>E-mail</label>
            <input class="input-cadastro" id="input-email" type="email" formControlName="email" required>
    
            <label for="input-senha"><span class="obrigatorio">*</span>Senha</label>
            <input class="input-cadastro" id="input-senha" type="password" formControlName="senha" required>
    
            <button class="btn-cadastro" type="submit">Criar seu cadastro</button>
        </form>
    </div>    
</section>