.container-caixa-header {
    /* background: #0C0C0C; */
    color: #fff;
    margin: -0.4rem 0 0 0;
    padding: 2.2rem;
}

.container-header-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 0.5rem;
}

.titulo-header {
    font-size: 17pt;
    border-bottom: solid 2px #e03213;
}

.logo-da-pagina {
    margin: 0 0 0 0.5rem;
    width: 5vh;
    height: 5vh;
}

/* Pesquisar */

.container-pesquisar {
    display: flex;
    margin: 1rem 0 0 0;
}

.input-pesquisar-header {
    width: 25rem;
    height: 1.8rem;
    border: none;
    /* border-top-left-radius: 4px;
    border-bottom-left-radius: 4px */
    border-radius: 4px;
}

.input-pesquisar-header::placeholder {
    padding-left: 1rem;
    font-weight: bolder;
    font-size: 9pt;
}

.caixa-lupa-pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 -1rem;
    cursor: pointer;
    width: 35px;
    height: 32px;
    background-color: #e03213;;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 100;
}

.lupa-input {
    width: 2.2vh;
    height: 2.2vh;
}

/* Usuario  */

.container-usuario {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-login,
.btn-cadastrar {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 0.8rem;
}

.btn-login {
    color: #fff;
    border-bottom: solid 2px #e03213;
    transition: all 450ms ease-in-out;
}

.btn-login:hover {
    background: #eb4e32;
    border-bottom: solid 2px #eb4e32;
    transition: all 450ms ease-in-out;
}

.btn-cadastrar {
    color: #fff;
    background-color: #e03213;
    border-radius: 3px;
    transition: all 450ms ease-in-out;
}

.btn-cadastrar:hover {
    background-color: #eb4e32;
    transition: all 450ms ease-in-out;
}