.container-caixa-header {
    background: #0C0C0C;
    color: #fff;
    margin: -0.4rem 0 0 0;
    padding: 2.2rem;
}

.container-header-principal {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-around;
}

.container-header-logado {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 0.5rem;
}

.link-home {
    text-decoration: none;
    color: #fff;
}

.titulo-header {
    font-size: 17pt;
    border-bottom: solid 2px #e03213;
}

.logo-da-pagina {
    margin: 0 0 0 0.5rem;
    width: 5vh;
    height: 5vh;
}

/* Usuario  */

.container-usuario {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-login,
.btn-cadastrar {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 0.8rem;
}

.btn-login {
    color: #fff;
    border-bottom: solid 2px #e03213;
    transition: all 450ms ease-in-out;
}

.btn-login:hover {
    background: #eb4e32;
    border-bottom: solid 2px #eb4e32;
    transition: all 450ms ease-in-out;
}

.btn-cadastrar {
    color: #fff;
    background-color: #e03213;
    border-radius: 3px;
    transition: all 450ms ease-in-out;
}

.btn-cadastrar:hover {
    background-color: #eb4e32;
    transition: all 450ms ease-in-out;
}

