<header>

    <div class="banner-cabecalho">
        <span class="textred">Dia dos pais</span> •
        <span class="textblack">Leve 2 e pague 1!</span> •
        <span class="textblack">Até 20% de cashback</span> •
        <span class="textred">Queeero ></span>
    </div>

    <div class="cabecalho-principal">

        <div class="secao-principal">

            <div class="logo-cabecalho">
                <a href="/">
                    TechMart
                </a>
            </div>
    
            <div class="secao-pesquisar">
                <input type="text" class="barra-pesquisar" placeholder="Busque aqui o seu produto">
                <i class="fa-solid fa-magnifying-glass icone-pesquisar"></i>
            </div>

            <div class="secao-usuario" *ngIf="usuarioLogado">
                <div class="container-usuario">
                    <div>
                      <i class="fa-regular fa-user icone-usuario" style="color: #ffffff;"></i>
                    </div>
                    <ng-container *ngIf="usuarioLogado.nome && usuarioLogado.id">
                        <a href="" class="link-user">
                            Olá, {{ usuarioLogado.nome }} <br> 
                            N° de identificação: {{ usuarioLogado.id }}
                        </a>
                    </ng-container>
                </div>
            </div>
            
    
            <div class="secao-icones">
                <i class="fa-solid fa-shop fa-lg" style="color: #ffffff;"></i>
                <i class="fa-regular fa-heart fa-lg" style="color: #ffffff;"></i>
                <a href="/carrinho">
                    <i class="fa-solid fa-basket-shopping fa-lg" style="color: #ffffff;"></i>
                </a>
            </div>

            <div class="container-logout">
                <button class="btn-logout" (click)="deslogar()">Sair</button>
            </div>

        </div>

        <div class="secao-secundaria">
            <div>
                <ul class="link-nav">
                    <li>explorar</li>
                    <li>sobre nós</li>
                    <li><a href="/verProdutos">produtos</a></li>
                    <li><a href="/cadastrarProduto">cadastrar produtos</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="cabecalho-secundario">
        <div class="secao-terciaria">
                <ul class="link-nav ul-secundaria">
                    <li>alimentos</li>
                    <li>eletrodomésticos</li>
                    <li>informática</li>
                    <li>video games</li>
                    <li>móveis</li>
                    <li>tv e home theater</li>
                    <li>cozinha</li>
                    <li>música</li>
                </ul>
        </div>
    </div>

    <div>

    </div>

</header>