.container-usuario {
    display: flex;
    align-items: center;
}

.btn-perfil,
.btn-cadastrar-produtos {
    text-decoration: none;
}

.btn-perfil,
.btn-cadastrar-produtos {
    color: #fff;
    background-color: none;
    border-bottom: 2px solid #e03213;
    border-radius: 3px;
    padding: 0.5rem;
}

.link-perfil {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nome-user {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9pt;
    margin: 0 0 0 0.4rem;
}

.user-png {
    width: 3vh;
    border: solid 5px #fff;
    background-color: #fff;
    border-radius: 100%;
}

.link-btn-login {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    border-radius: 100%;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    width: 4vh;
    text-decoration: none;
}

.carrinho-png, 
.add-produto-png {
    box-sizing: border-box;
    background-color: #fff;
    border: 8px solid #fff;
    border-radius: 100%;
    width: 5vh;
    transition: 450ms all ease-in-out;
}

.carrinho-png {
    border: 9px solid #fff;
}

.carrinho-png:hover, 
.add-produto-png:hover {
    background-color: #F44336;
    border: 8px solid #F44336;
    transition: 450ms all ease-in-out;    
}

.carrinho-escrito,
.addProduto-escrito {
    color: #fff;
    font-size: 9pt;
    margin: 0.3rem 0 0 0;
}

.btn-logout {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0.1rem 0 0 -0.8rem;
}

.logout-user {
    width: 4.2vh;
}