/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;
}

a {
    text-decoration: none;
    color: #fff;
}