.lista-nav {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 0 0;
    list-style: none;
}

li {
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

li:hover {
    color: #e03213;
    transition: all 450ms ease-in-out;
}