.conteudo-produto {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 6px;
    margin: 90px;
}

/* Estilos container */

.secao-cadastroProduto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px auto;
    width: 45%;
    padding: 20px 20px 50px 20px;
    border-radius: 6px;
    background-color: #eee7e74d;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Estilos para o formulario */

.container-span {
    text-align: center;
}

.container-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.obrigatorio {
    color: #d30a0a;
}

.input-cadastro {
    border-radius: 5px;
    padding: 8px;
    width: 95%;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.btn-cadastro {
    padding: 6px;
    border: 2px solid #EB3343;
    background-color: #EB3343;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    transition: all 450ms ease-in;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: #cc0e1e;
    transition: all 450ms ease-in;
}

/* Estilos mural de promoção */

.view-promocao {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-radius: 6px;
    background-color: #eee7e74d;
    padding: 50px;
}

.container-titulo-promo {
    text-align: center;
    font-size: 16pt;
    font-weight: bolder;
    border: none;
    border-bottom: 2px solid #d1c9c95b;
    padding: 20px;
}

.info-promocao {
    display: flex;
    flex-direction: column;
    border: 2px solid #d1c9c95b;
    border-radius: 6px;
    padding: 30px;
    gap: 0.5em;
}