<main class="conteudo-produto">
    <section class="secao-cadastroProduto">
        <div class="container-info">
            <div class="container-texto">
                <h2>Registrar o seu produto</h2>
            </div>
            <div class="container-span">
                <span>Cadastre seu produto de forma fácil e rápida no nosso sistema!</span>
            </div>
        </div>
        <div class="container-formulario">
            <form class="formulario-cadastro centralizado" [formGroup]="formProduto" (ngSubmit)="cadastrarPromocao()">
                
                <label for="input-produto"><span class="obrigatorio">*</span>Nome do Produto</label>
                <input class="input-cadastro" type="text" formControlName="nome" required>
        
                <label for="input-idade"><span class="obrigatorio">*</span>Preço</label>
                <input class="input-cadastro" type="number" formControlName="preco" required>
        
                <label for="input-cpf"><span class="obrigatorio">*</span>Categoria</label>
                <input class="input-cadastro" type="text" formControlName="categoria" required>
        
                <label for="input-cep">Promoção</label>
                <input class="input-cadastro" type="number" formControlName="promocao">
    
                <button class="btn-cadastro" type="submit">Registrar Produto</button>
            </form>
        </div>    
    </section>

    <section class="view-promocao">
        <div class="container-titulo-promo">
            <span>Promoções Disponiveis</span>
        </div>
        <div class="info-promocao">
            <span>Nome da Promoção: Leve 2 e pague 1</span>
            <span>Código da Promoção: Nº 1</span>
        </div>
    </section>
</main>
